#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/ {
    behaviors {
      #include "macros.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
        n2_w_jis: ansi_n2_and_at_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_N2_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp LEFT_BRACKET>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        n6_w_jis: ansi_n6_and_caret_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_N6_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp EQUAL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        n7_w_jis: ansi_n7_and_amps_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_N7_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp CARET>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        n8_w_jis: ansi_n8_and_astrk_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_N8_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp DOUBLE_QUOTES>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        n9_w_jis: ansi_n9_and_lpar_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_N9_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp ASTERISK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        n0_w_jis: ansi_n0_and_rpar_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_N0_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp LEFT_PARENTHESIS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        minus_w_jis: ansi_minus_and_under_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_MINUS_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(INTERNATIONAL_1)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        equal_w_jis: ansi_equal_and_plus_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_PLUS_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp UNDERSCORE>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bslh_w_jis: ansi_bslh_and_pipe_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_BSLH_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_3>, <&kp LS(INTERNATIONAL_3)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        semi_w_jis: ansi_semi_and_colon_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_SEMI_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp APOSTROPHE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        apos_w_jis: ansi_apos_and_dqt_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_APOS_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp AMPERSAND>, <&kp AT_SIGN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        grave_w_jis: ansi_grave_and_tilde_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_GRAVE_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        lbkt_w_jis: ansi_lbkt_and_lbrc_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_LBKT_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_BRACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        rbkt_w_jis: ansi_rbkt_and_rbrc_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_RBKT_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp NON_US_HASH>, <&kp TILDE2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        caps_w_jis: ansi_caps_with_jis {
            compatible = "zmk,behavior-mod-morph";
            label = "ANSI_CAPS_WITH_JIS";
            #binding-cells = <0>;
            bindings = <&kp LS(CAPSLOCK)>, <&kp RS(CAPSLOCK)>;
            mods = <(MOD_RSFT)>;
        };

    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                           &mo 3 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp U  &kp I     &kp O    &kp P    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp J  &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp SPACE              &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo 2
      >;
    };
    keypad {
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &mo 3 &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp KP_N0              &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo 2
      >;
    };
    fn {
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &tog 1                                           &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                           &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };
    mod {
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &rgb_ug RGB_MEFS_CMD 5 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };
  };
};
